{% extends "frontend/base.html.twig" %}

{% block title %}
    {% for translation in article.articleTranslations %}
        {{ translation.title }}
    {% endfor %}
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <h1>{{ article.relevantTranslation.title }}</h1>

                {{ article.relevantTranslation.content|raw }}
            </div>

            <div class="social_share_block">
                <div class="social_share_title">
                    <b>Понравилась статья?</b><br/>
                    Поделитесь с друзьями
                </div>

                <div class="social_share_buttons">
                    <a class="js_social_share_button social_share_button" data-social_network="vk" data-url="{{ protocol }}://{{ domain }}{{ path('article_item', {'category_url': category.url, 'article_url': article.url}) }}">
                        {{ svg_content('icon_vk.svg')|raw }}
                    </a>
                    <a class="js_social_share_button social_share_button" data-social_network="ok" data-url="{{ protocol }}://{{ domain }}{{ path('article_item', {'category_url': category.url, 'article_url': article.url}) }}">
                        {{ svg_content('icon_ok.svg')|raw }}
                    </a>
                    <a class="js_social_share_button social_share_button" data-social_network="fb" data-url="{{ protocol }}://{{ domain }}{{ path('article_item', {'category_url': category.url, 'article_url': article.url}) }}">
                        {{ svg_content('icon_fb.svg')|raw }}
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://vk.com/js/api/share.js?93"></script>

    {{ parent() }}
{% endblock %}
