{% extends "frontend/base.html.twig" %}

{% block title %}
    {% trans %}article_list_title{% endtrans %}
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <h1>{% trans %}article_list_title{% endtrans %}</h1>

                {% if pagination %}
                    <div class="items_list">
                        {% for article in pagination %}
                            <div class="row">
                                <div class="cell">
                                    <a href="{{ path('article_list') }}/{{ article.url }}/">
                                        <img src="{{ resize_hash_image(article.imageHash, {'width': 100, 'height': 100, 'method': 'exact', 'ignore_existence': true}) }}">
                                    </a>
                                </div>
                                <div class="cell">
                                    {% for translation in article.articleTranslations %}
                                        <a class="items_list_link" href="{{ path('article_list') }}/{{ article.url }}/">{{ translation.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{% trans %}no_active_articles{% endtrans %}</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
