<div class="card">
    <div class="card-block">
        {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(
                    form.url,
                    null,
                    {'label_attr': {'class': 'col-sm-2 form-control-label'}})
                }}

                <div class="col-sm-10">
                    {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.url) }}
                    {{ form_errors(form.url) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(
                    form.pub,
                    null,
                    {'label_attr': {'class': 'col-sm-2 form-control-label'}})
                }}

                <div class="col-sm-10">
                    {{ form_widget(form.pub) }}
                    {{ form_help(form.pub) }}
                    {{ form_errors(form.pub) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(
                    form.plainImage,
                    null,
                    {'label_attr': {'class': 'col-sm-2 form-control-label'}})
                }}

                <div class="col-sm-3">
                    {% if article.imageHash %}
                        <img src="{{ uploaded_hash_asset(article.imageHash) }}">
                    {% else %}
                        <p>Preview image is not selected</p>
                    {% endif %}
                </div>

                <div class="col-sm-4">
                    <button class="btn btn-primary ks-btn-file">
                        <span class="la la-cloud-upload ks-icon"></span>
                        <span class="ks-text">Choose preview image</span>
                        <input
                            type="file"
                            name="{{ form.plainImage.vars.full_name }}"
                            {% if form.plainImage.vars.required %}required{% endif %}
                        >
                    </button>

                    {{ form_help(form.plainImage) }}
                    {{ form_errors(form.plainImage) }}

                    {% do form.plainImage.setRendered() %}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(
                    form.articleTranslations,
                    null,
                    {'label_attr': {'class': 'col-sm-2 form-control-label'}})
                }}

                <div class="col-sm-10">
                    {{ form_widget(form.articleTranslations) }}
                    {{ form_help(form.articleTranslations) }}
                    {{ form_errors(form.articleTranslations) }}
                </div>
            </div>

            <table>
                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('article_index') }}">back to list</a>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm js_save_with_tiny_mce">{{ button_label|default('Save') }}</button>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm js_add_translation" data-id="article_articleTranslations" href="#">
                            Add translation
                        </a>
                    </td>
                </tr>
            </table>
        {{ form_end(form) }}

        {% if article.id %}
            {{ include('backend/article/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>