{% if pageCount > 1 %}
    <nav class="pagination">
        {% if startPage > 1 %}
            <div class="pagination_item">
                <a class="pagination_item_link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">
                    <span class="pagination_item_link_number">1</span>
                </a>
            </div>
            {% if startPage == 3 %}
                <div class="pagination_item">
                    <a class="pagination_item_link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">
                        <span class="pagination_item_link_number">2</span>
                    </a>
                </div>
            {% elseif startPage != 2 %}
                <div class="pagination_item">
                    <span class="pagination_item_link disabled">
                        <span class="pagination_item_link_number">&hellip;</span>
                    </span>
                </div>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <div class="pagination_item">
                    <a class="pagination_item_link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                        <span class="pagination_item_link_number">{{ page }}</span>
                    </a>
                </div>
            {% else %}
                <div class="pagination_item">
                    <span class="pagination_item_link active">
                        <span class="pagination_item_link_number">{{ page }}</span>
                    </span>
                </div>
            {% endif %}
        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <div class="pagination_item">
                        <span class="pagination_item_link disabled">
                            <span class="pagination_item_link_number">&hellip;</span>
                        </span>
                    </div>
                {% else %}
                    <div class="pagination_item">
                        <a class="pagination_item_link" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">
                            <span class="pagination_item_link_number">{{ pageCount -1 }}</span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="pagination_item">
                <a class="pagination_item_link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">
                    <span class="pagination_item_link_number">{{ pageCount }}</span>
                </a>
            </div>
        {% endif %}
    </nav>
{% endif %}