<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/tablet.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/mobile.css') }}" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page_wrapper">
    {% block header %}
        <div class="page_header">
            <a href="/" class="header_logo_link js_header_count_width_el">
                <img src="/assets/img/header_logo.png">
            </a>

            <div class="header_article_category_list js_header_count_width_el">
                {{ render(controller('App\\Controller\\Frontend\\FrontController::headerArticleCategories', { url: app.request.requestUri, locale: app.request.locale })) }}
            </div>

            <a href="#" class="header_subscribe js_header_count_width_el">
                {{ svg_content('subscribe_bell.svg')|raw }}
            </a>

            <div class="header_language_list js_header_count_width_el">
                {{ render(controller('App\\Controller\\Frontend\\FrontController::headerLanguages', { url: app.request.requestUri, locale: app.request.locale })) }}
            </div>

            <a href="#" class="article_list_spoiler js_mobile_menu_spoiler_button">
                <img src="/assets/img/menu_spoiler.png">
            </a>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <div class="footer">
            <div class="footer_inner">
                {{ render(controller('App\\Controller\\Frontend\\FrontController::footerPages', { locale: app.request.locale })) }}

                <div class="footer_social">
                    <a href="#" class="footer_social_item">
                        {{ svg_content('telegram_icon.svg')|raw }}
                        <span class="text">{% trans %}our_telegram{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/scrollTo/scrollTo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
