<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/tablet.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/mobile.css') }}" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page_wrapper">
    {% block header %}
        <div class="page_header">
            <a href="/" class="header_logo_link">
                <img src="/assets/img/header_logo.png">
            </a>

            <a href="#" class="article_list_spoiler"></a>

            {{ render(controller('App\\Controller\\Frontend\\FrontController::headerArticleCategories', { url: app.request.requestUri, locale: app.request.locale })) }}

            <a href="#" class="header_subscribe">
                <img src="/assets/img/subscribe_bell.svg">
            </a>

            {{ render(controller('App\\Controller\\Frontend\\FrontController::headerLanguages', { url: app.request.requestUri, locale: app.request.locale })) }}
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <div class="footer">
            <div class="footer_inner">
                {{ render(controller('App\\Controller\\Frontend\\FrontController::footerPages', { locale: app.request.locale })) }}

                <div class="footer_social">
                    <a href="#" class="footer_social_item fb">
                        <span class="text">Facebook</span>
                    </a>
                    <a href="#" class="footer_social_item tg_bot">
                        <span class="text">{% trans %}telegram_bot{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    <!-- Скрипт 17track -->
    <script type="text/javascript" src="//www.17track.net/externalcall.js"></script>

    <script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/scrollTo/scrollTo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
