{% extends "frontend/base.html.twig" %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <div class="tabs js_tabs">
                    <div class="tabs_titles">
                        <div class="tabs_title js_tabs_title selected" data-tab_id="last_articles">
                            {% trans %}last_ones{% endtrans %}
                        </div>
                        <div class="tabs_title js_tabs_title" data-tab_id="popular_articles">
                            {% trans %}popular_ones{% endtrans %}
                        </div>
                    </div>

                    <div class="content_items_wrap">
                        <div class="tabs_content tabs_content_flex js_tabs_content selected" data-tab_id="last_articles">
                            {% include '@frontend/article/_article_list.html.twig' with {'pagination': last_pagination} %}
                        </div>
                        <div class="tabs_content tabs_content_flex js_tabs_content" data-tab_id="popular_articles">
                            {% include '@frontend/article/_article_list.html.twig' with {'pagination': popular_pagination} %}
                        </div>

                        {% if banners is not empty %}
                            <div class="content_promo_vertical">
                                <div class="content_promo_vertical_inner">
                                    {% for banner in banners %}
                                        <div class="content_promo_vertical_item">
                                            <img src="{{ resize_hash_image(banner.imageHash, {'width': 160, 'height': 0, 'method': 'scale', 'ignore_existence': true}) }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {#<div class="index_promo"></div>

            {% if popular_shops %}
                <div class="page_content_block">
                    <div class="popular_shops">
                        <div class="like_h1">
                            {% trans %}popular_shops{% endtrans %}
                        </div>

                        <div class="shop_list">
                            {% for popular_shop in popular_shops %}
                                <a href="{{ popular_shop.url }}" class="shop_item" title="{{ popular_shop.title|e }}">
                                    <img src="{{ uploaded_hash_asset(popular_shop.imageHash) }}" alt="{{ popular_shop.title|e }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}#}
        </div>
    </main>
{% endblock %}